<div id="canvas-container-div">
  <canvas id="canvas"></canvas>
</div>

<div id="restart-button-div" class="d-none">
  <img id="restart-icon" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/409445/restart.svg">
</div>

<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/409445/jquery-3.4.1.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/409445/verletExpress.js"></script>


<div class="container my-5 p-5" >
  <div class="row">
    <div class="col-12 col-sm-6 offset-sm-3 col-md-8 offset-md-2">

      <div class="card mb-4">
        <div class="card-body text-center">
          <h4>Félicitations!</h4>
          <p><%= @purchase.user.first_name.capitalize %>, ton UglyCat <%= @purchase.cat.name %> a bien été reservé,</p>
          <p>il arrivera le <%= Date.today + 5 %></p>
          <div class="d-flex justify-content-center mt-2">
            <%= link_to "Adopter un autre UglyCat", cats_path, class: "btn btn-primary"%>
          </div>
        </div>
      </div>
      <div class="text-center confirmation-purchase-cat">
        <% if @purchase.cat.photo.attached? %>
          <%= cl_image_tag @cat.photo.key, height: 300, width: 300, crop: :thumb, gravity: :face%>
        <% else %>
          <img src="https://source.unsplash.com/200x200/?cats"/>
        <% end %>
        <h5><%= @purchase.cat.name %></h5>
        <a href=""><h6>Suivre l'avancement de ma commande</h6></a>
        <%= image_tag "suivi1.svg", alt: "suivi", id: "suivi" %>
      </div>
    </div>
  </div>
</div>
