
<div class="container mt-5">
  <div class="card ml-auto mr-auto" style="width: 30rem;">
  <img src="https://source.unsplash.com/400x300/?cats" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= @cat.name %></h5>
    <p class="card-text"><%= @cat.description %></p>
    <h3>Adopt this cat before Jules eat him!!</h3>
    <%= simple_form_for [ @cat, @purchase ] do |f| %>
      <%= f.input :message%>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>

    <%= link_to "Return to cats list", cats_path, class: "btn btn-primary" %>
  </div>
</div>



