<div class="container my-5 p-5">
  <div class="d-flex flex-column card-show-cat shadow p-3 mr-auto ml-auto">
    <div class="d-flex">
      <% if @cat.photo.attached? %>
        <%= cl_image_tag @cat.photo.key, height: 200, width: 300, crop: :fill %>
      <% else %>
        <img src="https://source.unsplash.com/300x200/?cats"/>
       <% end %>
      <div class="pl-3 text-justify">
        <h3 class="card-title"><%= @cat.name %></h3>
        <p class="card-text"><%= @cat.description %></p>
        <%= link_to "Revoir tous les chats", cats_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="mt-3 p-3">
      <%= simple_form_for [ @cat, @purchase ] do |f| %>
        <%= f.input :message%>
        <%= f.submit "Envoyer", class: "btn btn-primary" %>
      <% end %>
    </div>

    <div class='text-center rand-cats'>
      <h4>Dans le même style...</h4>
      <div class="d-flex justify-content-around mr-3 ml-3">
        <% @cats.sample(2).each do |cat|%>
          <%= link_to cat_path(cat), class: "card shadow p-1" do %>
          <% if cat.photo.attached? %>
          <%= cl_image_tag cat.photo.key, height: 200, width: 200, crop: :fill %>
          <% else %>
          <img src="https://source.unsplash.com/200x200/?cats"/>
        <% end %>
            <p class="mt-2"><%= cat.name %></p>
          <% end %>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>


